.btn {
    display: inline-block;
    border: 0;
    border-radius: 3rem;
    font-weight: 700;
    color: #333;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.large {
    padding-top:24px;
    padding-right: 12px;
    padding-bottom:24px;
    padding-left: 12px;
    font-size: 16px;
}
.medium {
    padding-top:20px;
    padding-right: 11px;
    padding-bottom:20px;
    padding-left: 11px;
    font-size: 14px;
}
.small {
    padding-top:16px;
    padding-right: 10px;
    padding-bottom:16px;
    padding-left: 10px;
    font-size: 12px;
}
.primary {
    color: white;
    background-color: #1ea7fa;
    box-shadow: none;
}