@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes loading {
    0% {
      left: -100%;
    }
    100% {
      left: 150%;
    }
  }
  [data-placeholder] {
    position: relative;
    overflow: hidden;
  }
  [data-placeholder]::after {
    content: "";
    box-shadow: 0 0 50px 9px rgba(254, 254, 254);
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    animation: loading 2.5s infinite;
  }
}
